@import "tailwindcss";

@font-face {
  font-family: "Recoleta";
  src: url("../public/font/Recoleta-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Abel";
  src: url("../public/font/Abel-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Hind";
  src: url("../public/font/HindSiliguri-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 10px 10px 0px 10px;
  font-family: "Abel", sans-serif;
}

@media (min-width: 768px) {
  body {
    margin: 20px 50px 0 50px;
  }
}
