@import "tailwindcss";

@font-face {
  font-family: "Recoleta";
  src: url("../public/font/Recoleta-SemiBold.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../public/font/Outfit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

body {
  margin: 10px 10px 0px 10px;
  font-family: "Outfit", sans-serif;
  background-color: #000000;
}

@media (min-width: 768px) {
  body {
    margin: 20px 50px 0 50px;
  }
}
